# vscode
.vscode 

# npm
node_modules

# Exclude sourcemaps
*.map
meta.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Ignore KTR files with data
ktr-*
main.css
project_notes.md
test.json
keep-the-rhythm-backup-*
backup-*
keep-the-rhythm-*
data copy.json
data.json
